<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>


<form action="/classifiers" method="POST" enctype="multipart/form-data">
		<div class="form-group row">
				<label class="col-sm-2 col-form-label">API Key</label>
				<div class="col-sm-10">
						<input id="api_key" class="form-control" placeholder="API Key" type="text" name="api_key">
				</div>
		</div>
		<div class="form-group row">
				<label class="col-sm-2 col-form-label"></label>
				<div class="col-sm-2">
						<button class="form-control" type="button" onclick="get_classifier_list()">
				</div>
		</div>
</form>


<pre id="disp">

</pre>

<script type="text/javascript">
		function get_classifier_list() {
					var api_key = $("#api_key").val();

					var fd = new FormData();
					fd.append("api_key", api_key)

					// fd.append( 'file', $("#fileIn").prop('files')[0]);
					// fd.append( 'classifier_id', "genres_1932506436");

					$.ajax({
							url: '/classifiers',
							data: fd,
							processData: false,
							contentType: false,
							type: 'POST',
							success: function(d){
									console.log(d);
									$("#disp").html(JSON.stringify(d, null, 4));
							}
					});
			}
</script>
