[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
black = "*"
numpy = "*"
opencv-python = "*"
sklearn = "*"
matplotlib = "*"
torch = "*"
werkzeug = "*"

[dev-packages]
v = {editable = true,version = "*"}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
